<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>JavaScript Weekly Atom Feed</title>
    <link rel='alternate' type='application/atom+xml' href='/atom.xml'>
    <style>
      body {
        margin:           0 auto;
        padding:          10px;
        width:            960px;
        font-family:      'Arial', sans-serif;
      }
      a {
        color:            #00f;
        font-weight:      bold;
        text-decoration:  none;
      }
      a:hover,
      a:focus,
      a:active {
        text-decoration:  underline;
      }
      a.feed {
        display:          block;
        width:            10em;
        margin:           0 auto;
        padding:          10px 0;
        text-align:       center;
        color:            #fff;
        background:       orange;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius:    5px;
        text-shadow:      rgba(0,0,0,0.25) 1px 1px 1px;
      }
      footer {
        display:          block;
        font-size:        0.8em;
        margin-top:       2em;
      }
      footer,
      footer a {
        color:            #888;
        font-weight:      normal;
      }
    </style>
  </head>
  <body>
    <h1>JavaScript Weekly Atom Feed</h1>
    <p>
      <a href='http://javascriptweekly.com/'>JavaScript Weekly</a> is a very useful newsletter
      curated by <span class='vcard'><a href='http://peterc.org' class='fn url'>Peter Cooper</a>.
    </p>
    <p>
      I’m a big fan of the content, but not of the delivery mechanism. Maybe I’m old fashioned
      but I like my news to show up in Google Reader instead of email. So I made this Atom feed…
    </p>
    <a class='feed' href='/atom.xml'>Get the feed</a>
    <footer>
      Built by <span class='vcard'><a href='http://georgebrock.com'>George Brocklehurst</a></span>
    </footer>
  </body>
</html>
